[submodule "modules/volley"]
	path = modules/volley
	url = https://github.com/dimhold/volley.git
[submodule "modules/cwac-camera"]
	path = modules/cwac-camera
	url = https://github.com/RandoApp/cwac-camera.git
